<!-- Remove the container if you want to extend the Footer to full width. -->
<div style="margin-bottom: 0%;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color: #868686"
               >
        <!-- Left -->
        <div class="me-5" style="color: #fefefe;">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a  class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a  class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a  class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a  class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">HCL Vietnam</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                HCL Technologies is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a class="text-dark">Analytics</a>
              </p>
              <p>
                <a class="text-dark">Cybersecurity</a>
              </p>
              <p>
                <a  class="text-dark">Automation</a>
              </p>
              <p>
                <a  class="text-dark">Digital </a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a class="text-dark">Your Account</a>
              </p>
              <p>
                <a class="text-dark">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-dark">Shipping Rates</a>
              </p>
              <p>
                <a  class="text-dark">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #fefefe; height: 2px"
                  />
              <p><i class="fas fa-home mr-4"></i> Hanoi,Vietnam </p>
              <p><i class="fas fa-envelope mr-3"></i> dung.do@hcl.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 84 37 924 2892</p>
              <p><i class="fas fa-print mr-3"></i> + 84 37 924 2892</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3 "
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a class="text-dark" >dung.do@hcl.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->