<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="username">

      <div class="error">
        <span *ngIf="username && username.errors?.['required']  && submit">
           this filed is required!
        </span>
        <span *ngIf="username && username.errors?.['minlength']  && submit">
           Username must be at least 5 character.
        </span>
     </div>

      <input type="password" 
      style="background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      transition: all 0.5s ease-in-out;
      border-radius: 5px 5px 5px 5px;" id="password" class="fadeIn third" formControlName="password" placeholder="password">

      <div class="error">
        <span *ngIf="password && password.errors?.['required']  && submit">
           this filed is required!
        </span>
        <span *ngIf="password && password.errors?.['minlength']  && submit">
           Username must be at least 5 character.
        </span>
     </div>

      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="goSignUpPage()">Sign up</a>
    </div>

  </div>
</div>